.image{
    width: 80%;
    height: 20vh;
    /* margin-top: 2px; */
    padding: 2px;
    margin-left: auto;
    margin-left: auto;

}


button{
    background-color:gainsboro;
    padding: 2px;
    margin: 2px;
    width: 8%;
    height: 4vh;
}